<%= render  "shared/logo" %>
<br>
<br>
<div class="form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, placeholder: 'name', autofocus: true, autocomplete: "name", class: 'user_text_input' %>
  </div>
  <br>

  <div class="field">
    <%= f.email_field :email, placeholder: 'email', autofocus: true, autocomplete: "email", class: 'user_text_input' %>
  </div>
  <br>

  <div class="field">
    <%= f.password_field :password, placeholder: 'password', class: 'user_text_input' %>
  </div>
  <br>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: 'confirm password', class: 'user_text_input' %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= f.submit "Sign up", class: 'submit_button' %>
  </div>
<% end %>
<br>
  or
  <%= render "devise/shared/links" %>
</div>



<div class='the_zucc'>
<%= image_tag  "actual_zucc.png", class: 'the_zucc_image' %>
</div>
