
<div class="form">
  <%= form_with(model: comment, local: true) do |form| %>
  <%= hidden_field_tag 'post_id', post_id  %>
  <% if comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

    <ul>
      <% comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>  
  <% end %>

  <div class="field">
    <%= form.text_area :body, placeholder: "don't hate", class: 'user_text_input'  %>
  </div>

  <div class="actions">
    <%= form.submit :post, class: 'submit_button_small' %>
  </div>

  <% end %>
</div>
