<div class="dashboard">

  <h1> <%= link_to current_user.name.gsub(/\s+/m, ' ').gsub(/^\s+|\s+$/m, '').split(" ")[0], user_path(current_user) %></h1>
  <br>
  <h2> <%= link_to 'create', new_post_path %>  </h2>
  <h2> <%= link_to 'explore', '/explore' %> </h2>
  <h2> <%= link_to 'notifications', '/notifications' %> </h2>
  <h2> <%= link_to 'friends', '/friends' %> </h2>

  <br>

  <%= link_to "log out", destroy_user_session_path, method: :delete %>

</div>