
<h3>
  <%= link_to post.title, post_path(post) %> <br>
</h3>
<p>
  <%= post.body %>
</p>
<p>
<%= post.likes.count %> likes | <%= post.comments.count%> comments
<i style="opacity: 50%;"> 
     - posted <%= time_ago_in_words(post.created_at)%> ago 
  </i>
<br>
<br>
