<p id="notice"><%= notice %></p>
<%= render "shared/logo" %>
<%= render "shared/dashboard" %>
<div class='posts'>

<%= render  @posts %>

</div>
<div id="infinite-scrolling" style="margin-left: 40%;">
  <%= will_paginate @posts, :page_links => false %>
</div>