<p id="notice"><%= notice %></p>

  <h2><%= @post.title %></h2>
  <i>- by <%= link_to @post.user.name, user_path(@post.user)%> </i> 
<br>
<br>
<p>
  <%= @post.body %>
</p>

<p>
<%= @post.likes.count %> Likes
</p>

<%
=begin%>
 <%= link_to "Call Action", like_post_path(@post), class: "button" %> 
<%
=end%>
<% unless current_user.liked_posts.include? @post%>
  <%= button_to 'Like', like_path, remote: true, method: :get %>
<% else %>
  <%= button_to 'Unlike', unlike_path, remote: true, method: :get %>
<% end %>
<br>
<%= link_to "Back", posts_path %>