<p id="notice"><%= notice %></p>

  <h2><%= @post.title %></h2>
  <i>- by <%= link_to @post.user.name, user_path(@post.user)%> </i> 
<br>
<br>
<p>
  <%= @post.body %>
</p>


<p>
<%= @post.likes.count %> Likes
</p>

<% unless current_user.liked_posts.include? @post%>
  <%= button_to 'Like', like_path, method: :get %>
<% else %>
  <%= button_to 'Unlike', unlike_path, method: :get %>
<% end %>

<br>

<%= render 'comments/form', comment: Comment.new, post_id: @post.id %>

<br>
<h3> All comments </h3>
<%= render @post.comments %>
<br>
<%= link_to "Back", posts_path %>